{% extends 'accounts/acm.html' %}

{% block blade_content %}
    <h2 class="acm-blade__title">Password</h2>
    <p>You can use this form to change your current user password. We highly recommend using a password manager to
        generate a difficult, unique password.</p>
    <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="acm-form-field">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {{ field.help_text }}
            </div>
        {% endfor %}
        <button type="submit">Change password</button>
    </form>
{% endblock %}
