{% extends 'base.html' %}

{% block title %}Account Management{% endblock %}

{% block content %}
    <h1>Account management</h1>
    <div id="account-management-shell" class="acm-shell">
        <nav id="account-management-nav" class="acm-navigation">
            <div class="acm-navigation__legend">Account</div>
            <a href="{% url 'accounts:acm' %}" class="acm-navigation__item">Account details</a>
            <a href="{% url 'accounts:connections' %}" class="acm-navigation__item">Connections</a>
            <div class="acm-navigation__legend">Security</div>
            <a href="{% url 'password_change' %}" class="acm-navigation__item">Password</a>
        </nav>
        <div id="account-management-blade" class="acm-blade">
            {% block blade_content %}
                <h2 class="acm-blade__title">Account details</h2>
                <p>You can use this form to manage your account details, such as your username and email address.</p>

                <form action="{% url 'accounts:acm' %}" method="post" class="acm-form">
                    {% for message in messages %}
                        <div class="acm-form__information acm-form__information--{{ message.level_tag }}">
                            <span class="fas fa-info-circle"></span>
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% csrf_token %}

                    <table class="acm-form__table">
                        {{ form.as_p }}
                    </table>

                    <button type="submit" class="single-field-form__button">Change</button>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
