{% extends 'accounts/acm.html' %}

{% block blade_content %}
    <h2 class="acm-blade__title">Authorized applications</h2>
    <p>Here you can manage third-party applications that you gave access to your account.</p>

    {% if authorized_applications.count > 0 %}
        <h3 class="acm-connection-heading">Linked accounts</h3>
        <hr/>
        {% for grant in authorized_applications %}
            <form method="post" action="{% url 'accounts:delete_application' grant.id %}"
                  class="acm-authorized-application-info">
                {% csrf_token %}
                <h4>{{ grant.application }}</h4>
                <p>Grants: {{ grant.claims }}</p>

                <button type="submit">Revoke</button>
            </form>
        {% endfor %}
    {% else %}
        <h3>You have not authorized any applications.</h3>
    {% endif %}
{% endblock %}
