.user-status {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  position: relative;

  &__avatar {
    width: 3em;
    height: 3em;

    background-color: black;
    border-radius: 100%;
  }

  &__name {
    color: white;
    text-decoration: none;
    font-family: $font-stack;
    font-size: 1.35em;
    font-weight: 500;
    margin-right: 0.3em;
  }

  &__caret {
    color: $kokiri-green-300;
  }

  &__actions {
    display: none;
    visibility: hidden;
    top: 40px;
    right: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    padding: 0.3em;
    border-radius: 0.3em;
    width: 200px;

    background-color: $kokiri-green-800;
    border: 2px solid $kokiri-green-700;
  }

  &:hover > &__actions,
  &:focus-within > &__actions,
  & &__actions:hover {
    visibility: visible;
    opacity: 1;

    display: flex;
    flex-direction: column;
  }

  &__action {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.3em;
    font-weight: 500;

    &:hover {
      background-color: $kokiri-green-700;
    }

    &--danger {
      color: red;
    }
  }
}
