/* Font stacks */
$system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-stack: "Encode Sans", $system-font-stack;

/* Color stack */
$kokiri-green-50: #f0f6f3;
$kokiri-green-100: #d7f0eb;
$kokiri-green-200: #a6e7d2;
$kokiri-green-300: #6acca6;
$kokiri-green-400: #2bae76;
$kokiri-green-500: #1d934e;
$kokiri-green-600: #1a7d39;
$kokiri-green-700: #18602f;
$kokiri-green-800: #124225;
$kokiri-green-900: #0d291d;

$triforce-gold: #fdd756;
